.updateButton {
    justify-content: center;
    display: flex;
    align-items: center;
}
.profileCard {
    display:flex;
    justify-content: center;
    align-items: center;
}
.divCard{
    display: flex;
    justify-content: center;
}
@media (min-width: 1200px) {

    .Row-hero{
        width: 100% ;
        justify-content: center;
        display: flex;
    }
}