.navbarstyle{
    font-size:large;
    display: flex;
    justify-content: center;
    background-color:rgb(37, 36, 36);
    width: 100vw;
    background-position: center;
    background-size: 10em;
    top: 0%;
    position:sticky;
    z-index: 2;
}
.logo-scoobike{
    display:flex;
    justify-content: flex-start;
    margin: 0.35rem;
}
.navbarButton{
    margin-block-start: 1rem;

}