.repairs-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: grid;
    gap: 4rem;
    flex-direction: column;
    position: relative;
    z-index:-1;
}
.cards-services{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    z-index: -1;
}

.card-header{
    background-color: whitesmoke;
    color: rgb(37, 36, 36);
}
.card{
    background-color: darkgrey;
    color: rgb(37, 36, 36);
}