.repairs-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.card{
    background-color: darkgrey;
    color: rgb(37, 36, 36);
    margin-bottom:0.5rem ;
    object-fit: fill;
}
