.serv-img{
    display:grid;
    width: 50%;
}
.service-container {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(37, 36, 36);
    object-fit: contain;
    color: whitesmoke;
}