.OurServices {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}
.header-serv {
    display: flex;
    gap: rem;
    font-weight: bold;
    justify-content: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-style: italic;
    background-color: rgb(37, 36, 36);
}

.service-container {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(37, 36, 36);
    object-fit: contain;
    color: whitesmoke;
    margin-bottom: 0.2rem;
}
.img-container{
    display: flex;
}
