.bck-img-home{
        width: 100%;
        height: auto;
        margin-bottom: 2vh;
    }
.Row-hero{
        width: 100%;
        justify-content: center;
        display: flex;
    }

@media (min-width: 1200px) {

    .bck-img-home{
        width:100%;
    }
    
    .Row-hero{
        width: 100% ;
        justify-content: center;
        display: flex;
    }
}