.formulario {
    padding: 3rem;
    height: 15rem;
    background-color: darkgrey;
    border-radius: 0.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0px 0px 10px 2px rgba(0,0,0,0.13);
    place-items: center;
}
.botones{
    place-items: center;
}

.zonaLogin{
    display:flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.mailLogin-form{
    margin-top: 0.5rem;
}
.passwordLogin-form{
    margin-bottom: -1rem
}
.botonLogin{
    margin-bottom: 1rem;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.botonLogin:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}
.boton-cita{
    margin-top:0.5rem;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.boton-cita:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}